---
layout: frame
title: "후원 업체"
icon: <i class="far fa-building"></i><i class="far fa-handshake"></i>
permalink: /sponsors/
---
<section class="page-header">
  <div class="container">
    <h1>{{ page.icon }}<h1>
    <h1>{{ page.title }}</h1>
    <p>행사를 열고 진행하는데 도움을 주신 분들입니다.</p>
  </div>
</section>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <a name="platinum"/><h3>플래티넘</h3>
  <div class="row">
    {% for item in site.platinums %}
    <div class="col-sm" style="padding: 2px;">
      <div class="card" style="width: 18rem;">
        <div style="height: 100px">
          <img class="card-img-top" style="padding: 16px; vertical-align: middle; max-width: 18rem; max-height: 100px; height: auto; width: auto; margin-left: auto; margin-right: auto; display: block;"
        src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}" alt="{{ item.name }}"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.desc }}</p>
          <a href="{{ supporter.url }}" class="btn btn-primary">웹사이트 방문</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <a name="gold"/><h3>골드</h3>
  <div class="row">
    {% for item in site.golds %}
    <div class="col-sm" style="padding: 2px;">
      <div class="card" style="width: 18rem;">
        <div style="height: 100px">
          <img class="card-img-top" style="padding: 16px; vertical-align: middle; max-width: 18rem; max-height: 100px; height: auto; width: auto; margin-left: auto; margin-right: auto; display: block;"
        src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}" alt="{{ item.name }}"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.desc }}</p>
          <a href="{{ supporter.url }}" class="btn btn-primary">웹사이트 방문</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <a name="silver"/><h3>실버</h3>
  <div class="row">
    {% for item in site.silvers %}
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div style="height: 100px">
          <img class="card-img-top" style="padding: 16px; vertical-align: middle; max-width: 18rem; max-height: 100px; height: auto; width: auto; margin-left: auto; margin-right: auto; display: block;"
        src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}" alt="{{ item.name }}"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.desc }}</p>
          <a href="{{ supporter.url }}" class="btn btn-primary">웹사이트 방문</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <a name="supporters"/><h3>(기타)후원</h3>
  <div class="row">
    {% for sponsor in site.sponsors %}
    <div class="col-sm" style="padding: 2px;">
      <div class="card" style="width: 18rem;">
        <div style="height: 100px">
          <img class="card-img-top" style="padding: 16px; vertical-align: middle; max-width: 18rem; max-height: 100px; height: auto; width: auto; margin-left: auto; margin-right: auto; display: block;"
        src="{{ site.baseurl }}/assets/imgs/sponsors/{{ sponsor.image }}" alt="{{ item.name }}"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ sponsor.name }}</h5>
          <p class="card-text">{{ sponsor.desc }}</p>
          <a href="{{ sponsor.url }}" class="btn btn-primary">웹사이트 방문</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
