<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-oidk">
  <div class="container">

  <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/imgs/logo-alt.svg" style="max-height: 40px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-white" href="{{ site.baseurl }}/about/">소개<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="{{ site.baseurl }}/schedule1/">1일차 프로그램</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="{{ site.baseurl }}/schedule2/">2일차 프로그램</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="{{ site.baseurl }}/location/">위치</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="{{ site.baseurl }}/registration/">등록 안내</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link nav-white" href="{{ site.baseurl }}/sponsors/">후원 업체</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          문의
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/contact/">문의처 정보</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/faq/">FAQ</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/groups/openstack.kr/">Facebook</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
