<section style="background:#ecf0f1; padding-top:32px; padding-bottom:32px;">
  <div class="container">
    <h2>주최</h2>
    <div class="row">
      {% for item in site.hosts %}
      <div class="col-6 col-md-4">
        <a href="{{ item.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ item.image }}"
          width="100%" alt="{{ item.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <br /><br />
  <div class="container">
    <h2>주관</h2>
    <div class="row">
      {% for item in site.runs %}
      <div class="col-6 col-md-4">
        <a href="{{ item.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ item.image }}"
          width="100%" alt="{{ item.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h2>후원 (플래티넘)</h2>
    <div class="row">
      {% for item in site.platinums %}
      <div class="col-6 col-md-4">
        <a href="{{ item.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ item.image }}"
          width="100%" alt="{{ item.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h2>후원 (골드)</h2>
    <div class="row">
      {% for item in site.golds %}
      <div class="col-6 col-md-4">
        <a href="{{ item.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ item.image }}"
          width="100%" alt="{{ item.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h2>후원 (실버)</h2>
    <div class="row">
      {% for item in site.silvers %}
      <div class="col-6 col-md-4">
        <a href="{{ item.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ item.image }}"
          width="100%" alt="{{ item.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h2>후원</h2>
    <div class="row">
      {% for item in site.sponsors %}
      <div class="col-6 col-md-4">
        <a href="{{ item.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ item.image }}"
          width="100%" alt="{{ item.name }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
