<section style="background:#ecf0f1; padding-top:3px;">
&nbsp;
</section>
<section style="padding-top:32px; padding-bottom:32px;">
  <div class="container">
    <h3>주최</h3>
    <div class="row frame">
      {% for item in site.hosts %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <br /><br />
  <div class="container">
    <h3>주관</h3>
    <div class="row frame">
      {% for item in site.runs %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h3>후원 (플래티넘)</h3>
    <div class="row frame">
      {% for item in site.platinums %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h3>후원 (골드)</h3>
    <div class="row frame">
      {% for item in site.golds %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h3>후원 (실버)</h3>
    <div class="row frame">
      {% for item in site.silvers %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h3>후원</h3>
    <div class="row frame">
      {% for item in site.sponsors %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <h3>미디어 후원</h3>
    <div class="row frame">
      {% for item in site.medias %}
      <div class="col-4 col-md-3" class="frame-item">
        <a href="{{ item.url }}" class="frame-item">
          <img src="{{ site.baseurl }}/assets/imgs/sponsors/{{ item.image }}"
          width="100%" alt="{{ item.name }}" class="frame-item">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
