---
layout: frame
---
<div class="main-header" style="background-image:url({{ site.baseurl }}/assets/imgs/home-background.jpg); background-repeat: no-repeat; width: 100%; background-size: 100%;">
  <h1 class="display-4 white-text"><b>OpenInfra Days Korea 2018</b></h1>
  <h3 class="white-text">Open Infrastructure: OpenStack, Containers, and Cloud Native Computing</h2>
  <h5 class="white-text">{{site.period}}<br>{{site.location}}</h5>
  <p>&nbsp</p>
  <a role="button" class="btn btn-primary btn-lg"
  href="{{ site.baseurl }}/registration/">
    <i class="fas fa-ticket-alt"></i> 6.19(화) 10시 사전등록 시작 </a>
</div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 box-left">
        <h1>소개</h1>
        <p>
            지난 OpenStack Days Korea 행사에 이어 오는 6월 28일과 29일 양일간 Open Infrastructure: OpenStack, Containers, and Cloud Native Computing이라는 주제로 Open Infra Days Korea 2018을 개최합니다. 
            <b>Open Infra Days Korea 2018</b> 행사에 대해 자세히 알아봅시다.
        </p>
        <a role="button" class="btn btn-primary btn-lg" href="{{ site.baseurl }}/about">더 알아보기</a>
      </div>
      <div class="col-6 col-md-4 box-icon">
        <i class="fas fa-users"></i>
        <i class="far fa-handshake"></i>
      </div>
    </div>
  </div>

<section style="background:#37d1d033;">
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 box-icon">
      <i class="far fa-comments"></i>
      <i class="far fa-calendar-check"></i>
    </div>
    <div class="col-12 col-md-8 box-right">
      <h1>프로그램</h1>
      <p>양 이틀간 준비된 키노트, 메인 세션 및 워크샵/딥다이브 프로그램에 대해 자세히 살펴봅니다.</p>
      <a role="button" class="btn btn-primary btn-lg" href="{{ site.baseurl }}/schedule1">1일차 (6/28 목)</a>
      <a role="button" class="btn btn-primary btn-lg" href="{{ site.baseurl }}/schedule2">2일차 (6/29 금)</a>
    </div>
  </div>
</div>
</section>
{% include sponsors.html %}
